// Splash page customizations.
.layout--splash {

  .page__title,
  .page__meta,
  .page__lead,
  .btn {
    color: $DeepSpaceBlack;
    text-shadow: none;

    strong {
      color: $MajesticPurple;
    }
  }

  // Provide a light white background so this text is easier to see.
  .page__lead {
    text-shadow: white 0px 0px 10px;
  }

}